#menu #email
{
	display: none;
}

#menu #password
{
	display: none;
}

#menu #login
{
	display: none;
}

#menu #logout
{
	display: none;
}

#menu #newuser
{
	display: none;
}

#menu #userID
{
	display: none;
}