#email
{
	display: none;
}

#password
{
	display: none;
}

#login
{
	display: none;
}

#logout
{
	display: none;
}

#newuser
{
	display: none;
}

#userID
{
	display: none;
}

#close
{
	display: none;
}