.list-nav00{
  width:980px;
  margin:0 auto;
}
.list-nav00:after {
  content: "";
  clear: both;
  display: block;
}
.list-nav00 li{
  float:left;
  width:140px;
}
.list-nav00 a{
  display:block;
  line-height:70px;
  height:70px;
  text-align:center;
  background:#000;
  color:#fff;
  border-right:1px solid red;
}
.list-nav00 li:first-child a{
  border-left:1px solid red;
}