body {
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
}

#wrapper {
  text-align: center;
}

#wrapper select {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#status {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.inputDiv form {
  width: 20%;
  margin: 0 auto;
}

.inputDiv label {
  padding-top: 15px;
  text-align: left;
  clear: both;
  float: left;
  width: 20%;
}

.inputDiv input, textarea, select, button {
  width : 200px;
  margin: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.inputDiv input[type=text] {
  padding: 12px 20px;
  margin: 8px 0 5px 13px;
  box-sizing: border-box;
}

.inputDiv input[type=text]:focus {
  border: 3px solid #555;
}

.inputDiv {
  padding-top: 50px;
}